<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <!-- use clsCrypto to encrypt, decrypt user ID and password -->
  <setting name="POLSQL" value="Data Source=POLSQL;Initial Catalog=MLG;User ID=ECsZj802nvlNZTcqIAaS8g==;Password=S65I5G19OZjF4WTvVVas9w=="/>
  <setting name="SourceFolder" value="Z:\AIMM Automation\Estimate Import\Source\SetupAimmEstimateImport.msi"/>
  <setting name="ArchiveFolder" value="Z:\AIMM Automation\Estimate Import\Archive"/>
  <setting name="ErrorFolder" value="Z:\AIMM Automation\Estimate Import\Errors"/>
  <setting name="LogFolder" value="Z:\AIMM Automation\Estimate Import\Logs"/>
  <setting name="ShowExcel" value="True"/>
  <setting name="WorksheetName" value="SPECS"/>
  <setting name="DemoWorkTypes" value="5,42"/>
  <setting name="PoolDemoWorkTypes" value="45,46"/>
</Settings>
